.wrapper{
  height: auto;
  width: 40%;
  margin: 6%;
  color: whitesmoke;
  background-color: rgba(0,0,0,0.6); 
  padding: 15px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custombtn{
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
}